@import url("../../themes.css");

.place-layout{
    display: flex;
    gap: 15px;
    padding: 5px 132px;
    margin-bottom: 15px;
}
.place-imag{
    width: 267px;
    height: 170px;
    border-radius: 20px;
    overflow: hidden;
}
.place-imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.heart{
    font-size: 40px;
    fill: var(--primary-color);
}
.name-heart h1{
   font-size: 25PX;
   font-weight: 600;
   color:#5c5c5c ;
}
.place-info p{
    font-size: 20px;
    color:#5c5c5c ;
}
.star-rating{
    display: flex;
    gap: 10px;
}
.star{
    font-size: 20px;
    fill: var(--star-color);
}
.readmore{
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid ;
    margin-top: 40px;
    cursor: pointer;
}

