.pamplet-img{
    height: 402px;
    width: 100%;
    position: relative;
}
.hero{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pamplet h1{
    font-size: 55px;
    position: absolute;
    top: 195px;
    left: 132px;
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: 4px;
}


.sort-places{
    padding: 5px 132px;
}
.sort-places h1{
    font-size: 40px;
    font-weight: 600;
    color: #5c5c5c;
    margin-bottom: 15px;
}
.sort-places p{
    font-size: 20px;
    margin-bottom: 5px;
}
.selectby{
    width: 267px;
    height: 41px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}


/* css for Places and m
loadmore button */
.places-loadmore{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.load-more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.load-btn{
    width: fit-content;
    padding:5px 50px;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 30px;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}