.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-image {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.sidebar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-to-fav{
    width: max-content;
    background: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.add-to-fav *{
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
}

.add-to-fav .message{
    position: absolute;
    top: 7px;
    left: calc(2rem + 10px);
    background-color: var(--text-color);
    color: var(--text-color-invert);
    width: max-content;
    height: max-content;
    padding: 0 5px;
    font-weight: 300;
    font-size: 0.8rem;
    opacity: 0;
}

.add-to-fav:hover .message{
    opacity: 0.8;
}


.sidebar-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color-highlight);
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
}


.type-rating{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.star{
    margin:0 -5px 0 10px;
}

.sidebar p strong{
    color: var(--text-color-highlight);
    font-weight: 600;
}

.sidebar .desc{
    margin: 5px 0;
    max-height: 40%;
    max-width: 100%;
    overflow: scroll;
}

.close-button  {
    width: 100px;
    border-radius: 50px;
    background-color: var(--bg-color);
    border: 1px solid;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 400;
}

.close-button:hover {
    background-color: var(--primary-color);
    color: var(--text-color-invert);
}