.feature{
    background-color: var(--bg-color-sec);
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.feature h1, .feature h1 span{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color-highlight);
    margin-bottom: 20px;
}

.feature h1 span{
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.box{
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.svg-icon{
  width: 4rem;
  height: 4rem;
  color: var(--primary-color);
  margin-right: 25px;
}

.desc{
    max-width: 70%;
}

.desc p{
    font-size: 1rem;
    font-weight: 400;
}

.desc p span{
    color: var(--text-color-highlight);
    font-weight: 600;
}


/* css for class Stats */
.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bg-color-sec);
    border-radius: 50px;
    padding: 30px 0;
    margin: 50px 0;
    text-align: center;
}

.stats *{
    padding: 0 20px;
}
.stats h1{
    font-size: 2.5rem;
    color: var(--text-color-highlight);
}
.stats p{
    font-weight: 400;
}
.join,.loveUs{
    border-right: 1px solid var(--text-color);
}